// Colors
$royal: #0051BA; 
$red: #E8000D; 
$gold: #FFC82D; 
$siggray: #85898A; 
$night: #003459; 
$lake: #2767FF; 
$sky: #73CBF2; 
$fog: #8E9FBC; 
$steam: #DDE5ED; 
$brick: #971B2F; 
$fire: #FF3042; 
$wheat: #F2A900; 
$terracotta: #C66E4E; 
$limestone: #D7D2CB; 
